body{
    width: 100%;
    margin: 0;
}



.cabecera{
    background-color: #622582;
    color: white;
    text-decoration: none;
    
}

.ig{
  text-align: center;
  padding: 10px ;
}

.gmail{
  text-align: right;
  padding: 5px ;
}

.inicio{
  justify-content: center;
  align-items: center;
}

.lupa{
  height: 15px;
  padding: 0;
  margin: 0;
}
.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a {
    display: block;
    color: white;
    padding: 5px;
    text-decoration: none;
     background-color: #622582;
  }
  .dropdown-content a:hover {
    background-color: #804F9A;
   
  }

  button{
    background-color: #622582;
    font-family:"Montserrat", sans-serif;
    font-size: 20px;
    outline: none; 
    color: white;
    border: none;
  }
button:hover {
    color:#EDD9DE
}
nav{
  background-color: #622582;
  text-align:center ;
}

.menu{
  font-family:"Montserrat", sans-serif;
  font-size: 20px;
  outline: none; 
  color: white;
  text-decoration: none;
  padding: 10px;
}

.footer {
  position: relative;
  width: 100%;
  background-color: #622582;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.iconos {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px 5px;
  flex-wrap: wrap;
}

.icon-elem {
  list-style: none;
}

.icon {
  color: #6E748C;
  font-size: 32px;
  display: inline-block;
  margin: 0 10px;
  transition: 0.5s;
}

.icon:hover {
  transform: translateY(-10px);
}

.menu-footer {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.menu-elem {
  list-style: none;
}

.menu-icon {
  color: #6E748C;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  margin: 5px 10px;
  opacity: 0.80;
  transition: 0.3s;
}

.menu-icon:hover {
  opacity: 1;
}

.texto {
  color: #6E748C;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 20px;
}

