* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100%;
  margin: 0;
}

.header-top{
  background-color: #622582;
  text-align: center;
  padding: 5px;
}

.header-mid{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(12, 1fr);
  margin: 10px;
  height: 150px;
}

.header-mid-1{
  grid-area: 1 / 7 / 2 / 13;
  text-align: center;
}

.header-mid-2{
  grid-area: 1 / 1 / 3 / 7;
  height: 150px;
  text-align: center;
}

.header-mid-3{
  grid-area: 2 / 7 / 3 / 13;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-mid-1 form{
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
}

.search-input{
  height: 40px;
  width: 50%;
}

.search-btn{
  height: 40px;
  position: absolute;
}

.search-btn img{
  height: 100%;
}

.header-mid-2 img{
  height: 100%;
}

.header-mid-3 ul{
  position: absolute;
}

.header-mid-3 ul li{
  list-style: none;
}

.header-mid-3 a {
  color: black;
}

section div a {
  color: #fff;
}

/*Estilos barra de navegación*/
.navbar {
  display: flex;
  background-color: #622582;
  margin: 0;
  padding: 0;
  height: 40px;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
}

.navbar li {
  list-style: none;
  height: 100%;
}

.navbar li a {
  padding: 10px;
  color: #fff;
  height: 100%;
  text-align: center;
} 

.navbar li a, .dropdown-products{
  display: inline-block;
  text-decoration: none;
}

.down-arrow{
  font-size: 12px;
}

.dropdown-products-content {
  display: none;
  position: absolute;
  background-color: #622582;
  width: 150px;
  margin: 0;
  padding: 0;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown-products-content li {
  display: block;
  width: 100%;
  float: left;
  padding: 0;
}

.navbar :hover {
  background-color: #804F9A;
}

.dropdown-products:hover .dropdown-products-content {
  display: block;
}

.dropdown-products-content li a {
  color: white;
  width: 100%;
  padding: 10px;
  text-decoration: none;
  text-align: left;
  background-color: #622582;
}

.dropdown-products-content a:hover {
  background-color: #804F9A;

}

/*sección all-products*/
.all-products{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 20px 0;
}

.product-container{
  height: 450px;
  width: 25%;
  border: 2px solid black;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  margin: 20px;
}

.product-container a{
  display: block;
  height: 350px;
  width: 100%;
  overflow: hidden;
}

.product-container img{
  max-width: 100%;
  display: block;
}

.product-container h3{
  margin: 10px 0 5px;
}

/*Pagina de registro*/
.register{
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
}

.register-container{
  margin: 30px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}

.register-title{
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 5px;
  background-color: #622582;
  color: #fff;
}

.register-form{
  padding: 10px;
}

.btn{
  padding: 5px;

}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #6E748C;
  height: 30px;
  text-align: end;
}

footer p {
  padding: 5px;
}