<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riñonera Mai.Calvo</title>
    <link rel="icon" href="../static/img/logo-invert-removebg.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" >
    <link rel="stylesheet" href="../static/css/product.css">
</head>

<body>
    <header>
        <div class="header-top">
            <div>
                <a href="https://www.instagram.com/maicalvo_ecosocial/">
                    <span>PROTEJE LA TIERRA UN PRODUCTO A LA VEZ!!!</span>
                </a>
            </div>

            <div>
                <a href="mailto:maicalvoecosocial@gmail.com">
                    <span>maicalvoecosocial@gmail.com</span>
                </a>
            </div>
        </div>
        <div class="header-mid">
            <div class="header-mid-1">
                <form action="#" id="form-search" method="get">
                    <input class="search-input" type="text" name="search" id="search" placeholder="Buscar...">
                    <button class="search-btn" type="submit" id="search-button"><img src="../static/img/lupa.png" alt="imagen lupa"></button>
                </form>
            </div>
            <div class="header-mid-2">
                <img src="../static/img/logo.png" alt="logo maicalvoecosocial">
            </div>
            <div class="header-mid-3">
                <ul>
                    <li><a href="./register.html">CREAR CUENTA</a></li>
                    <li><a href="./login.html">INICIAR SESION</a></li>
                </ul>
            </div>

        </div>

        <nav>
            <ul class="navbar">
                <li><a href="../index.html">Inicio</a></li>
                <li class="dropdown-products">
                    <a href="../index.html">Productos <span class="down-arrow">▼</span></a>
                    <!--Falta agregar los enlaces a la pagina de poducto en los li a -->
                    <ul class="dropdown-products-content">
                        <li><a href="#">Ver todos</a></li>
                        <li><a href="#">Riñoneras</a></li>
                        <li><a href="#">Funcionales</a></li>
                        <li><a href="#">Mochilas</a></li>
                        <li><a href="#">Carteras</a></li>
                        <li><a href="#">Promos</a></li>
                    </ul>
                </li>
                <li><a href="#">Quienes somos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>

    </header>

    <section class="product">

        <img src="../static/img/Riñonera_mas_targetero.jpg" alt="imagen riñonera mas targetero">

        <div class="product-details">
                <h3>Riñonera doble cierre más targetero</h3>
                <p>$20.000</p>
                <p>Riñonera con doble bolsillo de guardado. Muy espaciosa, liviana e impermeable. Cinta con broche plástico regulable. Producto con impacto social y ambiental positivos! + Tarjetero de REGALO!</p>

                <button type="button" onclick="alert('Todavia no se puede comprar. Página en construcción XD')">Comprar</button>

            </div>
        </div>
    </section>
    
    <footer class="footer">
        <ul class="iconos">
            <li class="icon-elem">
                <a href="https://www.instagram.com/maicalvo_ecosocial/" class="icon" title="Instagram Mai.Calvo" >
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
            <li class="icon-elem">
                <a href="https://es-la.facebook.com/" class="icon" title="Facebook Mai.Calvo" >
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </li>
            <li class="icon-elem">
                <a href="mailto:maicalvoecosocial@gmail.com" class="icon" title="Escríbeme">
                    <i class="fa-solid fa-envelope"></i>
                </a>
            </li>
        </ul>

        <ul class="menu-footer">
            <li class="menu-elem">
                <a href="../index.html" class="menu-icon">Inicio</a>
            </li>
            <li class="menu-elem">
                <a href="./404.html" class="menu-icon">Quienes somos</a>
            </li>
            <li class="menu-elem">
                <a href="./404.html" class="menu-icon">Contacto</a>
            </li>
            <li class="menu-elem">
                <a href="https://www.instagram.com/maicalvo_ecosocial/" class="menu-icon">Redes</a>
            </li>
        </ul>
        <p class="texto">2024 - Todos los derechos reservados.</p>
    </footer>
</body>

</html>