<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <header>
        <section class="header-top">
            <div>
                <a href="https://www.instagram.com/maicalvo_ecosocial/">
                    <span>PROTEJE LA TIERRA UN PRODUCTO A LA VEZ!!!</span>
                </a>
            </div>

            <div>
                <a href="mailto:maicalvoecosocial@gmail.com">
                    <span>maicalvoecosocial@gmail.com</span>
                </a>
            </div>
        </section>
        <section class="header-mid">
            <div class="header-mid-1">
                <form action="#" id="form-search" method="get">
                    <input class="search-input" type="text" name="search" id="search" placeholder="Buscar...">
                    <button class="search-btn" type="submit" id="search-button"><img src="../static/img/lupa.png" alt="imagen lupa"></button>
                </form>
            </div>
            <div class="header-mid-2">
                <img src="../static/img/logo.png" alt="logo maicalvoecosocial">
            </div>
            <div class="header-mid-3">
                <ul>
                    <li><a href="/templates/register.html">CREAR CUENTA</a></li>
                    <li><a href="login.html">INICIAR SESION</a></li>
                </ul>
            </div>

        </section>

        <nav>
            <ul class="navbar">
                <li><a href="index.html">Inicio</a></li>
                <li class="dropdown-products">
                    <a href="index.html">Productos <span class="down-arrow">▼</span></a>
                    <!--Falta agregar los enlaces a la pagina de poducto en los li a -->
                    <ul class="dropdown-products-content">
                        <li><a href="#">Ver todos</a></li>
                        <li><a href="#">Riñoneras</a></li>
                        <li><a href="#">Funcionales</a></li>
                        <li><a href="#">Mochilas</a></li>
                        <li><a href="#">Carteras</a></li>
                        <li><a href="#">Promos</a></li>
                    </ul>
                </li>
                <li><a href="#">Quienes somos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>

    </header>

    <section class="product">
        <div class="single-product-container">
            <div class="single-product">   
            <a href="#">
                <img src="/static/img/Riñonera_mas_targetero.jpg" alt="imagen riñonera mas targetero">
            </a>
            
            </div>

            <div class="product-details">
                <h3>Riñonera doble cierre más targetero</h3>
                <p>$20.000</p>
                <p>Riñonera con doble bolsillo de guardado. Muy espaciosa, liviana e impermeable. Cinta con broche plástico regulable. Producto con impacto social y ambiental positivos! + Tarjetero de REGALO!</p>

                <button type="button" onclick="alert('Todavia no se puede comprar. Página en construcción XD')">Comprar</button>

            </div>
        </div>
    </section>
    <footer>
        <p>CAC Grupo 11 todos los derechos reservados XD</p>
    </footer>
</body>

</html>